<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
  <style>
    /* Stackoverflow preview fix, please ignore */
    .navbar-nav {
      flex-direction: row;
    }
    
    .nav-link {
      padding-right: .5rem !important;
      padding-left: .5rem !important;
    }
    
    /* Fixes dropdown menus placed on the right side */
    .ml-auto .dropdown-menu {
      left: auto !important;
      right: 0px;
    }
  </style>
</head>
<body>

<!-- navBar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded">
  <a class="navbar-brand" href="">CSC651 Group B Site</a>
  <!--
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link">Left Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Left Link 2</a>
    </li>
  </ul>
 -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="/submitIssue" >Submit Issue</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hi {{username}}!</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Account Setting</a>
        <a class="dropdown-item" href="/logout">Sign out</a>
      </div>
    </li>
  </ul>
</nav>


<br><br>

<!--Issue table -->
<div class="col-sm-8">
   <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Issue ID</th>
      <th scope="col">User ID</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Date Posted</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
         {{#each issues}}
    <tr scope="row">
        <td>
            {{issue_id}}
        </td>
        <td>
            {{username}}
        </td>
        <td>
            {{title}}
        </td>
        <td>
            {{description}}
        </td>
        <td>
            {{date}}
        </td>
        <td>
            {{status}}
        </td>
    </tr>
    {{else}}
      {{/each}}
</table>

 </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>



</body>
</html>